# Generic options
# list = true # List files whose formatting differs from shfmt's
# diff = true # Error with a diff when the formatting differs

# Parser options
#shell_variant      = posix # --language-variant # Language dialect (bash/posix/mksh/bats, default auto)
# --language-dialect str  bash/posix/mksh/bats, default "auto"

# Printer options
binary_next_line    = true  # Binary ops like && and | may start a line
case_indent         = true  # --case-indent # Switch cases will be indented
#space_redirects    = true  # Redirect operators will be followed by a space
keep_padding        = true  # Keep column alignment paddings
#function_next_line = true  # --func-next-line # Function opening braces are placed on a separate line

## Ignore the entire "third_party" directory.
#[third_party/**]
#ignore = true


# from https://github.com/catppuccin/catppuccin/blob/main/.editorconfig

root = true

[*]
charset = utf-8
end_of_line = lf
quote_type = auto

# Tab indentation
indent_brace_style = K&R
indent_size = 3

# Make sure every file has a blank line at the end
insert_final_newline = true

# Remove any whitespace characters preceding newline characters
trim_trailing_whitespace = true

# Give operators breathing room, but not brackets
spaces_around_operators = true
spaces_around_brackets = false

# Max line length (not supported by all editors)
max_line_length = 150

[**.git/COMMIT_EDITMSG]
indent_style = space
max_line_length = 72

[{*.sh,.shellrc.d**}]
indent_size = 3

[*.y{,a}ml]
indent_size = 2
indent_style = space
quote_type = single

[*.js{,on}]
indent_size = 2
indent_style = space
max_line_length = unset
quote_type = single

# go
[*.go]
indent_size = 4
indent_style = space

# python
[*.{ini,py,py.tpl,rst}]
indent_size = 4
indent_style = space

# rust
[*.rs]
indent_size = 4
indent_style = space

# documentation, utils
[*.{md{,.tpl},mdx,diff}]
indent_size = unset
indent_style = space
trim_trailing_whitespace = false

# windows shell scripts
[*.{cmd,bat,ps1}]
end_of_line = crlf
indent_style = space

# vim swap files
[*.sw*]
max_line_length = unset
insert_final_newline = false
end_of_line = unset
