[mysql]
pager = less -QFRX
auto-rehash #automatically enable tab completion
prompt = '[\\d]> '
auto-vertical-output # automatically shows vertically if horizontal doesn't fit
safe-updates # ensure large operations don't execute without conditions
