[mysql]
pager = less -QFRX
auto-rehash #automatically enable tab completion
prompt = '[\\d]> '
auto-vertical-output # automatically shows vertically if horizontal doesn't fit
safe-updates # ensure large operations don't execute without conditions
skip-reconnect # can be a safety, per the man page (which may have been updated due to issues like  <https://dba.stackexchange.com/questions/1561/mysql-client-believes-theyre-in-a-transaction-gets-killed-wreaks-havoc/1599#1599>)
